.square-button {
    width: auto;
    aspect-ratio: 1;
    flex: none;
}

.binary-action-button.yes {
    background-color: var(--is-yes);
}

.binary-action-button.yes:hover {
    background-color: color-mix(in oklab, var(--is-yes), white 10%);
}

.binary-action-button.no {
    background-color: var(--is-no);
}

.binary-action-button.no:hover {
    background-color: color-mix(in oklab, var(--is-no), white 10%);
}
